
.container{
    border: 1px solid #000;
    padding: 20px 10px;
    text-align: center;
}
.flex-box-container-1, .rpsgame, .change-color{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid #000;
    padding: 20px;
    margin: 5px 0;
    align-items: center;
}
.cat-generate{
    border: 1px solid #000;
    padding: 20px 0;
    margin: 5px 0;
}
.flex-box-container-1 div{
    border: 1px solid #000;
    padding: 10px;
    align-items: center;
}

.flex-box-container-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.flex-box-container-2 img{
    margin: 20px;
    box-shadow: 5px -1px 18px 5px #00000080;
}

.flex-box-rps, .flex-box-chg-color {
    width: 100%;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
 padding: 10px;
}
.flex-box-rps img{
    margin: 10px;
    width: 100px;
    height: 100px;
}
.flex-box-rps img:hover{
    box-shadow: 0px 5px 20px rgba(37, 50, 233, 1);
}


/* black jack css */

.blackjack-container{
 border: 1px solid #000;
 padding: 10px 0;
 /* margin: 10px 0; */
}


.flex-box-blackjack{
    background: green;
    margin: 20px 0;
    background-image: linear-gradient(to right, #000c 5%, green 50%, #000c 95%);
}
.flex-box-main-score{
    display: flex;
    justify-content: space-around;
    border-bottom: 4px solid #000;
}
.flex-box-main-score div{
    /* width: 50%; */
    flex: 1;
    height: 350px;
    border: 1px solid #000;
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.flex-box-main-score img{
    width: 25%;
    height: auto;
    padding: 10px;
}
.flex-box-main-score h2{
    width: 100%;
    
    color: #fff;
    display: inline-block;
}
.flex-box-buttons{
    display: inline-block;
    border: 1px solid #000;
    padding: 10px;
    margin: 15px;
}
.flex-box-score{
 display: flex;
 justify-content: center;
 
}
.flex-box-score table, th,td{
    padding: 5px;
    border: 1px solid #000;
}